body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Arial Black', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dialog-box {
  background: #000;
  border: 4px solid #fff;
  padding: 20px 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 0 #ff0000;
  color: #fff;
  transform: skewX(-5deg);
}

.dialog-question {
  font-size: 1.8rem;
  margin-bottom: 20px;
  transform: skewX(5deg);
}

.choice-container {
  display: flex;
  justify-content: space-between;
  transform: skewX(5deg);
}

.choice {
  background: #1e1e1e;
  padding: 10px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  width: 45%;
  text-align: left;
  transition: all 0.2s;
}

.choice.selected,
.choice:hover {
  background-color: #ff2b2b;
  border-color: #fff;
  color: #fff;
}

.arrow {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
